<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="https://code.jquery.com/qunit/qunit-1.22.0.css">
</head>
<body>
    <div id="hello"></div>
    <div id="relogio"></div>
    <div id="regressiva"></div>
    <input type="text" name="" id="test-input">    
    <div id="qunit"></div>
    <div id="qunit-fixture"></div>
    <script src="https://code.jquery.com/jquery-2.2.1.min.js" integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00=" crossorigin="anonymous"></script>
    <script src="//code.jquery.com/qunit/qunit-1.22.0.js"></script>
    <script src="/javascripts/script.js"></script>
    <script src="/javascripts/testes.js"></script>
</body>
</html>
